<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineapple.domain.user.repository.AddressMapper">

<select id="findById" parameterType="long" resultType="com.fineapple.domain.user.entity.Address">
    SELECT post_num AS PostNum, city, region, road_num AS roadNum, address
    FROM Address
    WHERE delivery_id = #{deliveryId}
</select>

</mapper>