<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineapple.domain.order_payment.repository.CouponAnalyticsMapper">

    <select id="getDailyCouponCount" resultType="TimeSeriesDto">
        SELECT DATE(used_at) AS date, 'ALL' AS groupKey, COUNT(*) AS value
        FROM UserCoupon
        WHERE is_used = TRUE
        GROUP BY DATE(used_at)
        ORDER BY date
    </select>
    
    <select id="getDailyCouponCountByCoupon" resultType="TimeSeriesDto">
        SELECT DATE(used_at) AS date, c.coupon_code AS groupKey, COUNT(*) AS value
        FROM UserCoupon uc
        JOIN Coupon c ON uc.coupon_id = c.coupon_id
        WHERE is_used = TRUE
        GROUP BY DATE(used_at), c.coupon_id, c.coupon_code
        ORDER BY date, c.coupon_code
    </select>
</mapper>